body {
    font-family: roboto, raleway, sans-serif;
}

/*** Header ***/
#header-container {
    background-color: #000;
    height: 60px;
    right: 0;
    left: 0; }

#citf {
    color: #fff;
    float: left;
    padding: 10px 25px;
    font-family: Lobster, serif; 
    font-size: 2.5em; }

#cms-top-nav li a {
    float: left;
    font-size: 1em;
    list-style: none;
    display: inline;
    padding: 22px 20px;
    text-decoration: none;
    color: #fff; }

#user {
    float: right;
    color: #fff;
    padding: 23px 20px;
    font-size: 0.85em; }

#signout {
    float: right;
    background-color: #7f00ff;
    padding: 21px 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #000; }

#signout:hover {
    background-color: #fff;
    color: #7f00ff; }

/*** Left Menu ***/
#cms-logo {
    float: left;
    margin-left: 20px; }

#cms-logo img {
    width: 40%; 
    padding: 10px; }

#left-col-menu {
    padding: 5px; 
    position: fixed; 
    width: 20%}

.left-menu {
    clear: both;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px; }

.left-mnu-itm {
    display: block;
    padding: 10px 20px;
    color: #444;
    border-top: 1px solid #ddd;
    font-size: 0.85em;
    font-family: roboto, raleway, sans-serif;
    text-decoration: none; }

.left-mnu-itm:hover {
    background-color: #eee; }

.left-mnu-itm:first-child {
    border-top: 0px;
    border-radius: 10px 10px 0px 0px; }

.left-mnu-itm:last-child {
    border-radius: 0px 0px 10px 10px; }

.fa {
    padding-right: 15px; }

.fa-plus,
.fa-external-link {
    padding-right: 5px; }

/*** Footer ***/
#cms-footer {
    clear: both;
    background-color: #ddd;
    padding: 20px;
    position: absolute;
    font-size: 0.75em;
    bottom: 0;
    right: 0;
    left: 0; }
