/*-----------------TICKET TYPES----------------*/
body{
    background-color:#fff;
}

img{
    max-width: 100%;
}

.tick_img {
    background-color: #fff;
    float:left;
    height:200px;
    margin: 1%;
    padding:3px;
    width: 30%;
}

#tick_info{
    background-color: #9a3cf5;
    border-radius: 20px;
    clear:both;
    height:300px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 70%;

}

/*-----------------TICKET CHECKOUT----------------*/
#wrap{
    max-width: 30%;
    margin:0 auto;
}

#tick_form, #order_details{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

#order_details, th, td{
  border: 1px solid #848484;
  max-width: 500px;
  padding: 10px;
}

#order_details{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
/*WHY IS NOT WORK*/
}

#tick_quant{
    margin:5px;
}

/*-----------------SUCCESS----------------*/

#success{
    height:380px;
    width:50%;
    margin:0 auto;
    
}