//-----------FONT VARIABLES ------------------------

$font1: roboto, raleway, sans-serif;
$font2: Lobster, serif;

//---------- Here is where we will claim all the comon variables for the project----------
$Color1: rgba(113,187,117,1);
$Color2: black;
$Purple: #9a3cf5;
