#artistProfile {
    width: 80%;
    display: block;
    position: relative;
    margin: 0 auto;
    

}

#artistImage {
    width: 50%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;

}

#artistInformtion {
    margin-top: 40px;
    width:45%;
    float:right;
    text-align: left;
    display: block;
}
