html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: roboto, raleway, sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  background: #ddd; }

nav {
  height: 60px; }

#container {
  height: auto;
  position: relative;
  margin-top: 60px; }

/* Headings */
h1 {
  font-size: 1.75em;
  padding: 10px 0px;
  color: #9a3cf5; }

h2 {
  font-size: 1.5em;
  padding: 10px 0px; }

h3 {
  font-size: 1.15em;
  padding: 5px 0px;
  font-weight: 700;
  line-height: 20px; }

/* Text */
p {
  line-height: 18px;
  padding-right: 5px; }

.link {
  color: #9a3cf5;
  text-decoration: none; }
  .link:hover {
    transition: all 0.2s;
    border-bottom: 1px dotted #9a3cf5; }

/* Buttons */
.btn {
  font-size: 0.875em;
  border-radius: 5px;
  border: 0;
  padding: 7px 20px;
  background: #444;
  color: #fff;
  cursor: pointer;
  margin: 20px 0px;
  text-decoration: none;
  transition: all 0.3s; }
  .btn:hover {
    background: #000; }

/* Only use with href button */
.xtra-pad {
  padding: 10px 20px 7px 20px; }
  .xtra-pad:hover {
    color: #fff; }

.link-btn {
  font-size: 1em;
  border: 0;
  background: none;
  color: #9a3cf5;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s; }
  .link-btn:hover {
    color: #444;
    text-decoration: underline; }

input[type=submit] {
  font-size: 0.875em;
  border-radius: 5px;
  border: 0;
  padding: 10px 60px;
  background: #9a3cf5;
  color: #fff;
  cursor: pointer;
  margin: 15px 0px; }

#back-btn a {
  background: #14CC60;
  padding: 15px;
  border-radius: 50px;
  color: #fff;
  float: left;
  width: auto;
  margin-top: 30px; }

/* Table Elements */
table {
  margin: 20px 0px 30px 0px;
  text-align: left;
  border-collapse: collapse; }

th {
  padding: 10px 8px;
  color: #444;
  font-weight: 700; }

tr:nth-child(even) {
  background: #f5f5f5; }

td {
  padding: 8px 15px;
  color: #444; }

/* Form Elements */
.textarea {
  border: 1px solid #848484;
  height: 10em;
  width: 40em;
  padding: 0px 10px;
  margin-top: 10px;
  font-size: 0.875em;
  box-shadow: none;
  resize: none; }

.dropdown {
  border: 1px solid #848484;
  background: #fff;
  height: 2.25em;
  padding: 0px 10px;
  margin-top: 10px;
  font-size: 0.875em;
  box-shadow: none; }

.radio {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #444;
  border-radius: none; }

.required {
  margin: 5px;
  color: red;
  font-size: 1.25em; }

.textbox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #848484;
  outline: 0;
  height: 2.25em;
  padding: 0px 10px;
  margin: 1% 0%;
  font-size: 0.875em;
  width: 100%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

#navBar {
  background-color: #121212;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; }
  #navBar #citfLogo {
    float: left;
    color: white;
    font-size: 30px;
    font-family: Lobster, serif;
    text-decoration: none;
    display: inline-block;
    line-height: 60px;
    margin: 0% 2%; }

#nav ul li {
  line-height: 40px;
  display: inline-block;
  font-family: roboto, raleway, sans-serif;
  font-size: .9em;
  padding: 10px; }
  #nav ul li a {
    text-decoration: none;
    color: white; }
    #nav ul li a:hover {
      color: #9a3cf5; }

#logIn {
  float: right; }
  #logIn ul {
    width: 100%;
    float: right;
    display: inline-block; }
  #logIn li {
    display: inline-block;
    color: white; }
  #logIn li:first-child {
    margin-right: 20px;
    font-size: 0.875em; }
  #logIn li a {
    font-size: .9em;
    text-decoration: none;
    line-height: 60px;
    padding: 23px;
    color: #fff;
    background: #9a3cf5;
    transition: all 0.3s;
    cursor: pointer; }
    #logIn li a:hover {
      color: #9a3cf5;
      background: #fff; }
  #logIn p {
    color: white;
    font-size: .9em; }

/* for slider */
/* Homepage Newsfeed */
#news-title {
  color: #fff;
  margin: 10px auto;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-family: Lobster, serif; }

.fa-rss-square {
  color: #ff6600;
  font-size: 1em;
  padding-left: 10px; }

#newsfeed {
  width: 1024px;
  margin: 30px auto 50px auto; }

/* article feed */
.article-grid {
  display: flex;
  flex-flow: row wrap; }

.article-block {
  width: 30.33%;
  background: #eee;
  margin: 10px;
  padding: 10px 0px 0px 10px;
  border-radius: 5px;
  height: 100%; }

.article-content {
  height: 100%; }

.date {
  padding-bottom: 5px; }

.more {
  background: #9a3cf5;
  width: auto;
  float: right;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 5px 0px 5px 0px; }
  .more:hover {
    color: #9a3cf5;
    background: transparent; }

.fa-angle-double-right,
.fa-external-link {
  padding-left: 5px; }

/* article details page */
.article-details {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 1000px;
  margin: 100px auto 50px auto;
  border-radius: 5px; }

.article-text {
  margin: 30px 0px; }

#social {
  background: #444;
  width: 100%;
  padding: 30px 0px; }

#icons {
  text-align: center; }

.social-icon {
  display: inline-block;
  margin: 0 auto;
  padding: 10px; }

#connect-title {
  color: #fff;
  text-align: center; }

/* Performance Schedule Tooltip */
.tooltip {
  display: none;
  font-size: 0.9em;
  position: absolute;
  padding: 10px;
  background: #9a3cf5;
  color: #fff;
  border-radius: 5px; }

footer {
  background-color: #121212; }

#footContainer {
  width: 1440px;
  margin: 0 auto;
  color: #fff;
  height: 270px; }

/*** Email Subscription Feature ***/
.contact {
  float: left;
  width: 30%;
  padding: 3%; }

.subscribe {
  float: right;
  width: 30%;
  padding: 3%; }

.email-field {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #848484;
  outline: 0;
  height: 2.25em;
  padding: 0px 10px;
  margin: 1% 0%;
  font-size: 0.875em;
  width: 94%; }

#subscribe {
  width: 100%;
  font-size: 1em; }

.fa.fa-smile-o {
  padding-right: 10px; }

/*** Contact info ***/
#footer-contact {
  font-size: 0.875em; }

#contact {
  margin: 25px 0px; }

#hamburger {
  display: none; }

@media screen and (max-width: 1440px) {
  #footContainer {
    width: 100%; } }
@media screen and (max-width: 1130px) {
  #hamburger {
    display: block;
    float: right;
    font-size: 2em;
    margin-top: 15px;
    margin-right: 3%;
    color: #fff;
    cursor: pointer;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s; }
    #hamburger:hover {
      color: #9a3cf5; }

  #nav {
    display: none; }
    #nav ul {
      width: 100%;
      text-align: center;
      position: fixed;
      margin-top: 60px;
      background: #333; }
      #nav ul li {
        font-size: 1.15em;
        line-height: 30px; }
        #nav ul li a {
          line-height: 20px; }
          #nav ul li a:hover {
            color: #fff; }

  #logIn li a {
    line-height: 60px; } }
@media screen and (min-width: 1026px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: roboto, raleway, sans-serif; } }
@media screen and (max-width: 1024px) {
  #newsfeed {
    width: 90%;
    padding: 0px 30px; }

  .article-block {
    width: 45.33%; }

  .article-details {
    width: 80%; } }
@media screen and (max-width: 900px) {
  .subscribe {
    width: 50%; } }
@media screen and (max-width: 730px) {
  #nav {
    width: 100%; }
    #nav li {
      width: 100%;
      display: block;
      line-height: 0px;
      line-height: 30px;
      border-bottom: 1px solid #444; }
      #nav li:hover {
        background: #444; }
      #nav li a {
        padding: 30px 60px; }

  .article-block {
    width: 100%; } }
@media screen and (max-width: 480px) {
  #logIn li a {
    display: none; } }

/*# sourceMappingURL=CITF-Main.css.map */
