@import "_variables.scss";

/***************************************/
/*************** General ***************/
/***************************************/

html { position: relative; min-height: 100%; }
body { font-family: $font1; -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px; font-size: 1em; }


a { color: #444; }
a:hover { color: $Purple; transition: all 0.2s; }

p { padding: 5px 0px; }

/* Headings */

h1 {
    font-size: 1.75em;
    padding: 10px 0px;
    color: $Purple;
}

h2 {
    font-size: 1.5em;
    padding: 10px 0px;
}

h3 {  
    font-size: 1.15em;
    padding: 5px 0px;
    font-weight: 700;
}


/* Buttons */

.btn {
    font-size: 0.875em;
    border-radius: 5px;
    border: 0;
    padding: 7px 20px;
    background: #444;
    color: #fff;
    cursor: pointer;
    margin: 20px 0px;
    text-decoration: none;
    transition: all 0.3s;
}

.btn:hover {   
    background: #000;
}

/* Only use with href button */
.xtra-pad {
    padding: 10px 20px 7px 20px;
}

.link-btn {
    font-size: 1em;
    border: 0;
    background: none;
    color: $Purple;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}

.link-btn:hover {
    color: #444;
    text-decoration: underline;
}

.fa.fa-trash-o,
.fa.fa-pencil {
    padding: 0px;
}

.clear {
    clear: both;
}

/* Table Elements */

table {
    margin: 20px 0px 30px 0px;
    text-align: left;
	border-collapse: collapse;
}

th {
    padding: 10px 8px;
	color: #444;
    font-weight: 700;
}

tr:nth-child(even){
    background: #f5f5f5;
}

td {
    padding: 8px 15px;
	color: #444;
}


/* Form Elements */

.textbox {
    border: 1px solid #848484; 
    height: 2.25em;
    padding: 0px 10px;
    margin-top: 10px;
    font-size: 0.875em;   
    box-shadow: none;
}

.dropdown {
    border: 1px solid #848484; 
    background: #fff;
    height: 2.25em;
    padding: 0px 10px;
    margin-top: 10px;
    font-size: 0.875em;
    box-shadow: none;
}

.radio {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #444;
    border-radius: none;
}

.required {
    margin: 5px;
    color: red;
    font-size: 1.25em;   
}

/**************************************/
/*************** Header ***************/
/**************************************/

#header-container {
	background-color: #000;
	height: 50px;
	right: 0;
	left: 0;
}

#citf {
    color: #fff;
    float: left;
    padding: 8px 25px;
    font-family: $font2; 
    font-size: 2em; }

#cms-top-nav {
    li a {
        float: left;
        font-size: 0.85em;
        list-style: none;
        display: inline;
        padding: 17px 0px 17px 20px;
        margin-left: 5px;
        text-decoration: none;
        color: #fff;
    } 
    
    a:hover {
        color: $Purple;
    }
}

#user {
	float: right;
	color: #fff;
	padding: 17px 20px;
	font-size: 0.85em;
}

#signout {
	float: right;
	background-color: $Purple;
	padding: 16px 20px;
	border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    transition: all 0.1s;
}

#signout:hover {
    background-color: #fff;
    color: $Purple;
}

/*****************************************/
/*************** Left Menu ***************/
/*****************************************/

#logo {
	float: left;
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
	position: absolute;
}

#logo img {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#left-col-menu {
    width: 200px;
    margin: 10px 10px 10px 10px;
    min-height: 100%;
    float: left;
}

.left-menu {
	float: left;
    width: 100%;
    margin: 10px;
	border: 1px solid #ddd;
    border-radius: 8px;
}

.left-menu:last-child {
     margin-bottom: 100px;
}

.left-mnu-itm {
	display: block;
	padding: 10px 20px;
	border-top: 1px solid #ddd;
	font-size: 0.85em;
	text-decoration: none;
}

.left-mnu-itm:hover {
    color: #444;
}

.left-mnu-itm:first-child {
    border-top: 0px;
    border-radius: 8px 8px 0px 0px;
}

.left-mnu-itm:last-child {
    border-radius: 0px 0px 8px 8px;
}

.left-mnu-itm:hover {
        background-color: #eee;
    }

.fa {
	padding-right: 15px;  
}

.fa-home,
.fa-plus,
.fa-external-link {
   padding-right: 5px;
} 

/*****************************************/
/*************** Main Body ***************/
/*****************************************/

#main {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 100px;
    display: inline-block;
    width: 73%;
    min-height: 100%;
    float: left;
    
}

/**************************************/
/*************** Footer ***************/
/**************************************/

#cms-footer {
	clear: both;
	background-color: #ddd;
	font-size: 0.75em;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

#footer-content {
    padding: 20px;
}