@import "_variables.scss";

#footContainer {
    background-color: $Color2;
    color: #fff;
    padding: 3%;
    height: 195px;
}
   

/*** Email Subscription Feature ***/

.left-col,
.center-col,
.right-col {
    float: left; 
    width: 30%;
    margin-right: 3%;
    
}

.email-field {
    width: 94%;
}

#subscribe {
    width: 100%;
}


/*** Contact info ***/

#footer-contact {
    font-size: 0.875em;
}

#contact {
    margin: 25px 0px;
}

#copyright {
    
}


//-----Desktop style --------------------//
@media screen and (min-width:1026px) {

    
}

//----- Tablet Landscape style --------------------//
@media screen and (max-width:1025px) {
    
}

//-----Tablet Portrait style --------------------//
@media screen and (max-width:769px) {
    
}

//-----Smart Phone style --------------------//
@media screen and (max-width:720px) {
    
}
