@import "_variables.scss";

#footContainer {
    background-color: $Color2;
    color: #fff;
    padding: 3%;
    height: 195px;
}
   

/*** Email Subscription Feature ***/

.left-col,
.center-col,
.right-col {
    float: left; 
    width: 30%;
    margin-right: 3%;
    
}

input[type=text] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0;
    height: 2.25em;
    padding: 0px 10px;
    margin: 1% 0%;
    font-size: 0.875em;
}

.email-field {
    width: 94%;
}


input[type=submit] {
    font-size: 0.875em;
    border-radius: 5px;
    border: 0;
    padding: 10px 60px;
    background: $Purple;
    color: #fff;
    cursor: pointer;
    margin: 15px 0px;
}

#subscribe {
    width: 100%;
}


/*** Contact info ***/

#footer-contact {
    font-size: 0.875em;
}

#contact {
    margin: 25px 0px;
}

#copyright {
    
}


//-----Desktop style --------------------//
@media screen and (min-width:1026px) {

    
}

//----- Tablet Landscape style --------------------//
@media screen and (max-width:1025px) {
    
}

//-----Tablet Portrait style --------------------//
@media screen and (max-width:769px) {
    
}

//-----Smart Phone style --------------------//
@media screen and (max-width:720px) {
    
}
